<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 mt-5 text-center">

            <img src="{{Logo}}" class="img-thumbnail Logo" alt="...">

            <img class="my-5 img-fluid d-block mx-auto successIMG" src="{{successIMG}}" alt="Order Success" width="200" height="200" />

            <span style="color: purple;">Order Id: <span style="color: #d0d3d4;">{{orderId}}</span></span>

            <h2>Your Order has been placed successfully....!</h2>

            <a class="viewOrder" href="/">Go Home <span class="bag"><i class="fa-solid fa-house"></i></span></a>
        </div>

    </div>
</div>
