<nav class="navbar first" id="homeCannel">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{Logo}}" class="img-fluid" alt="..." style="width: 200px; background: none; border: none; margin-top: -8px;">
    </a>

    <div class="">
      <div class="row">
        <div class="col">
          <div class="d-flex" role="search">
            <input class="form-control me-2" [(ngModel)]="searchText" type="search" (input)="clearSearch()" placeholder="Search by Products..." (keydown.enter)="searchByEnterKey()" aria-label="Search" style="border-radius: 30px; width: 600px;">
            <button class="btn btn-outline-success" (click)="search()" type="submit" style="border: none; width: 100px; border-radius: 30px; background-color: purple; color: white;"> Search <i class="fa-solid fa-magnifying-glass"></i></button><span></span>
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn storeBtn me-md-2" type="button">Store <i class="fa-solid fa-location-dot"></i></button>
      <button class="btn storeBtn " type="button">Bussiness <i class="fa-solid fa-business-time"></i></button>
      <!-- <button class="btn storeBtn " type="button"><i class="fa-solid fa-user"></i> Account</button> -->
      <button class="cartBtn" routerLink="/cart" type="button">Cart <i class="fa-solid fa-cart-shopping"></i> <span style=" font-size: 30px; margin-left: 4px; color: orange; font-weight: 600;">{{cartCount}}</span> <span style="font-size: 9px;">Counts</span></button>
    </div>

    <button class="btn signupBtn" routerLink="/Signin"  type="button">SignIn !</button>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">More Info <span style="color: blue;"><i class="fa-solid fa-circle-info"></i></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">UserProfile</a>
            <section>
              <app-user-profile></app-user-profile>
            </section>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<!-- <div class="sticky-top" style="margin-top: 57px;">
<app-mini-navbar></app-mini-navbar>
</div> -->
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: purple">
<div class="container-fluid">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
        <li class="nav-item me-3">
            <a class="nav-link" routerLink="DIH_Decor/Avvertise/DataShore" (click)="onScrollHome()">Home</a>
        </li>
      <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" routerLink="DIH_Decor/All_Products/DataVisible/Products" aria-expanded="false">
            All Products_Decor
        </a>
        <ul class="dropdown-menu" style="width: 600px; height: 400px; padding: 15px; margin-left: -90px;">
            <div class="row">
                <div class="col" style="background-color: #fbfcfc;">
                    <li><a class="dropdown-item" href="#" style="font-size: 15px; color: #9b59b6;">For_Interior</a></li>
                    <li><a class="dropdown-item" routerLink="/HomeDecor_Bed-Collection">Bed</a></li>
                    <li><a class="dropdown-item" routerLink="/HomeDecor_CoffeTabel-Collection">CoffeTable</a></li>
                    <li><a class="dropdown-item" routerLink="/HomeDecor_Tv-Collection">Tv_Sets</a></li>
                    <li><a class="dropdown-item" routerLink="/HomeDecor_SofaSets-Collection/Data">Sofa_Sets</a></li>
                    <li><a class="dropdown-item" routerLink="/HomeDecor_DiningSets-Collection">Dining_Sets</a></li>
                </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col">
              <img src="{{demodecor}}" class="img-fluid" alt="..." style="width: 300px;">
            </div>
      </div>
        </ul>
      </li>
      <li class="nav-item dropdown me-3">
        <a class="nav-link"  role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="scrollToSection()">
            About_Us
        </a>
        
      </li>

      <li class="nav-item dropdown me-3">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="scrollTocontact_Us()">
            Contact us
        </a>
        
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#">Customer Supports</a>
      </li>
      <!-- <li class="nav-item me-3">
        <a class="nav-link" href="#">Luggage_Travel</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#">Trimmer_Shaver</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true"><i class="fa-solid fa-headset"></i> 1800 212 4558</a>
      </li>
    </ul>
    
  </div>
</div>
</nav>

<!-- Section For All Routes -->
<section>
  <router-outlet />
</section>


