<div class="container-fluid position-relative main-image-container" style="background-color: #bebcb9;">
    <div class="row" style="background-color: 30px;">
        <img src="{{wallImage}}" class="img-fluid" alt="..." style="height: 750px;">

        <div style="margin-top: -646px;">
            <h1 class="display-3" style="font-weight: 500; margin-left: 70px; color: black;">Decor Our Products,...</h1>
            <h1 class="display-1" style="font-size: 30px; font-weight: 400; margin-left: 70px; color: black;">Creating a Cozy Home Decor</h1>
            <h1 class="display-1" style="font-size: 30px; font-weight: 400; margin-left: 70px; color: black;">Innovate New Fashion</h1>
            <div style="display: flex;">
                <h1 class="display-1" style="font-size: 30px; font-weight: 400; margin-left: 70px; color: black;">Interior Design Products and Service</h1>
                <button type="button" routerLink="/DIH_Decor/All_Products/DataVisible/Products" class="btn btn-lg Explore-More">Explore More <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>



    <div class=" overlap-container text-center" id="overlapContainer"  style="padding: 40px; border-radius: 30px;">
        <div class="row align-items-center">
            <!-- First Image -->
            <!-- <div class="col">
              <img src="{{col1}}" class="img-fluid uniform-image1" alt="Image 1">
            </div> -->
          
            <!-- Text Content -->
            <div class="col text-center" style="margin-top: -20px;">
              <h6 class=" brandings">Innovate Your Living Smarter</h6>
              <p class="subRandings">premium & Luxurious</p>
            </div>
          
            <!-- Second Image -->
            <!-- <div class="col">
              <img src="{{col2}}" class="img-fluid uniform-image1" alt="Image 2">
            </div> -->
        </div>  
    
        <div class="row">
          <div class="col">
            <a  routerLink="/HomeDecor_DiningSets-Collection" class="hover-container">
                <img src="{{img1}}" class="img-fluid uniform-image" alt="Image 1">
                <h1 class="hover-title">Dining Sets</h1>
            </a>
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_SofaSets-Collection/Data" class="hover-container">
                <img src="{{img2}}" class="img-fluid uniform-image" alt="Image 2">
                <h1 class="hover-title">Sofa Sets</h1>
            </a>
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_Bed-Collection" class="hover-container">
                <img src="{{img3}}" class="img-fluid uniform-image" alt="Image 3">
                <h1 class="hover-title">Bed Sets</h1>
            </a>
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_SofaSets-Collection/Data" class="hover-container">
                <img src="{{img8}}" class="img-fluid uniform-image" alt="Image 8">
                <h1 class="hover-title">Imported Sofa</h1>
            </a>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col">
            <a routerLink="/HomeDecor_SofaSets-Collection/Data" class="hover-container">
                <img src="{{img5}}" class="img-fluid uniform-image" alt="Image 5">
                <h1 class="hover-title">Luxurious Sofa</h1>
            </a>
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_CoffeTabel-Collection" class="hover-container">
                <img src="{{img6}}" class="img-fluid uniform-image" alt="Image 6">
                <h1 class="hover-title">Living Sofa</h1>
            </a>
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_Tv-Collection" class="hover-container">
                <img src="{{img4}}" class="img-fluid uniform-image" alt="Image 4">
                <h1 class="hover-title">Tv Sets</h1>
            </a>
            
          </div>
          <div class="col">
            <a routerLink="/HomeDecor_Bed-Collection" class="hover-container">
            <img src="{{img7}}" class="img-fluid uniform-image" alt="Image 7">
            <h1 class="hover-title">Imported Bed</h1>
            </a>
          </div>
        </div>
        <img src="{{Logo}}" class="img-thumbnail brand_Logo" alt="...">
      </div>
</div>







<div class="container-fluid" style="width: 1300px; background-color: white; padding: 45px; margin-top: 600px; box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; border-radius: 40px; padding: 60px;">

    <div class="row">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="{{demoImg2}}" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h3 class="display-3 card-title" style="color: #ecf0f1; font-weight: 600;">Home Decor's Innovations</h3>
                  <p class="card-text" style="color: #ecf0f1;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
        <div class="col content" style="padding: 30px;">
            <h6 style="font-weight: 600; font-size: 24px;">Decorative Plans</h6>
            <span class="animated-span">Smart Home Integration</span>
            <span class="animated-span">Eco-Friendly Materials</span>
            <span class="animated-span">Modular Furniture Designs</span>
            <span class="animated-span">Biophilic Design</span>
            <span class="animated-span"> Vintage and Modern Fusion</span>
            <span class="animated-span">Color Psychology in Decor</span>
            <span class="animated-span">Customizable Art and Decor</span>
        </div>
    </div>

    <div class="row">

        <div class="col content" style="padding: 30px;">
            <h6 style="font-weight: 600; font-size: 24px;">Decorative Natures</h6>
            <span class="animated-span">Smart Home Integration</span>
            <span class="animated-span">Eco-Friendly Materials</span>
            <span class="animated-span">Modular Furniture Designs</span>
            <span class="animated-span">Biophilic Design</span>
            <span class="animated-span"> Vintage and Modern Fusion</span>
            <span class="animated-span">Color Psychology in Decor</span>
            <span class="animated-span">Customizable Art and Decor</span>
        </div>

        

        <div class="col">
            <div class="card text-bg-dark">
                <img src="{{demoImg1}}" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h3 class="display-3 card-title" style="color: #ecf0f1; font-weight: 600;">Home Decor's Nature</h3>
                  <p class="card-text" style="color: #ecf0f1;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
    </div>

</div>




<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
        <div class="col" style="display: flex;">
            
        </div>

        <div class="col">
        <h5>Our Achivements by Products </h5>
        </div>

        <div class="col">
            
            </div>

            <div class="col" style="display: flex;">
                <span style="font-size: 30px;margin-left: 5px; color: rgb(86, 197, 241);"> {{Items}}+</span>
                    <h6 style="margin-top: 18px;color: #b3b6b7;">Products</h6>
                </div>

                <div class="col" style="display: flex;">
                    <span style="font-size: 30px;margin-left: 5px; color: rgb(86, 197, 241);"> {{Customer}}+</span>
                    <h6 style="margin-top: 18px;color: #b3b6b7;">Customer</h6>
                </div>

                <div class="col" style="display: flex;">
                    <span style="font-size: 30px;margin-left: 5px; color: rgb(86, 197, 241);"> {{Followers}}+</span>
                    <h6 style="margin-top: 18px;color: #b3b6b7;">Followers</h6>
                </div>

                        <div class="col" style="display: flex;">
                            
                        </div>
    </div>
  </div>



  



  <div class="container text-center" style="margin-top: 130px; padding: 30px;">
    <h6 class=" brandings">our Promise & Belive</h6>
    <p class="subRandings">Loyal & Precius</p>
    <div class="row">
        <div class="col"><img src="{{premium1}}" class="img-thumbnail promises" alt="..."><p style="color: goldenrod; font-weight: 700;">Best</p></div>
        <div class="col"><img src="{{premium2}}" class="img-thumbnail promises" alt="..."><p style="color: goldenrod; font-weight: 700;">Provider</p></div>
        <div class="col"><img src="{{premium3}}" class="img-thumbnail promises" alt="..."><p style="color: goldenrod; font-weight: 700;">Support</p></div>
        <div class="col"><img src="{{premium4}}" class="img-thumbnail promises" alt="..."><p style="color: goldenrod; font-weight: 700;">Preferance</p></div>
        <div class="col"><img src="{{premium5}}" class="img-thumbnail promises" alt="..."><p style="color: goldenrod; font-weight: 700;">Managing</p></div>
    </div>
  </div>


  





  <footer style="padding: 40px; box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; background-color: #f4ecf7;">
    <div class="container-fluid">
        <div class="col">
            <div class="row">
                <div class="">
                    <img src="{{Logo}}" class="img-thumbnail" alt="..." style="width: 200px; border: none; background: none;">
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 600px; width: 1000px;">
            <div class="col">
                <h6 style="color: purple;">Precausion</h6>
                        <span class="hover-line">About Us</span><br>
                        <span class="hover-line">Contact Us</span> <br>
                        <span class="hover-line">Directions</span> <br>
                        <span class="hover-line">Administrator</span> <br>
                        <span class="hover-line">Careers</span> <br>
                        <span class="hover-line">Blog</span> <br>
            </div>
            <div class="col">
                <h6 style="color: purple;">Managing</h6>
                        <span class="hover-line">Promotions</span> <br>
                        <span class="hover-line">Partners</span> <br>
                        <span class="hover-line">Directions</span> <br>
                        <span class="hover-line">Directions</span> <br>
                        <span class="hover-line">FAQs</span> <br>
            </div>
            <div class="col">
                <h6 style="color: purple;">Providers</h6>

                        <span class="hover-line">Win Star Wallpapers</span> <br>
                        <span class="hover-line">Central Park At WinStar Village</span> <br>
                        <span class="hover-line">Responsible Gaming</span> <br>
                        <span class="hover-line">Careers</span> <br>
                        <span class="hover-line">Media</span> <br>
                    
            </div>
            <div class="col">
                <h6 style="color: purple;">Company</h6>
                <a href="" style="text-decoration: none;">
                    <p style="text-decoration: none; color: black; font-size: 14px;">Lorem Contesten 235/67A,<br>
                        New-Street LyloCarenCity 02, <br>
                        Camery Road, LucasStreet 45C <br>
                        NewDelhi - 2009989 <br>
                        Central OF India <br>
                    </p>
                </a>
            </div>
        </div>
        <div class="row" style="margin-left: 100px;">
            <div class="col" style="display: flex; justify-content: left;">
                <h6>Follow Links :</h6>
                <div class="mb-3">
                  <img src="{{socImg1}}" class="img-thumbnail hover-effect" alt="Image 1">
                </div>
                <div class="mb-3">
                  <img src="{{socImg2}}" class="img-thumbnail hover-effect" alt="Image 2">
                </div>
                <div class="mb-3">
                  <img src="{{socImg3}}" class="img-thumbnail hover-effect" alt="Image 3">
                </div>
                <div class="mb-3">
                  <img src="{{socImg4}}" class="img-thumbnail hover-effect" alt="Image 4">
                </div>
                <div class="mb-3">
                  <img src="{{socImg5}}" class="img-thumbnail hover-effect" alt="Image 5">
                </div>
              </div>
              
        </div>
    </div>
  </footer>